.menu-button {
  width: 145%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.21rem;

  letter-spacing: 1.33px;
  text-transform: uppercase;
  margin: 8.2px 8.2px;
  padding: 8.2px 8.2px;
}
