<div style="padding-top: 0%; margin-top: 0%">
  <mat-toolbar class="flex flex-row">
    <div class="basis-3/12">
      <button routerLink="/">
        <img
          src="../assets/csm.jpg"
          class="w-12 my-5"
          style="margin-top: '20px'"
        />
      </button>
    </div>

    <div class="basis-6/12 flex flex-row justify-center">
      <div>
        <!-- <ic-icon [icIcon]="icSearch" size="20px"></ic-icon> -->
        <input class="px-8 py-2" placeholder="SEARCH" type="search" />
      </div>
    </div>
    
    <div class="basis-3/12 flex flex-row justify-end">
      <span class="px-3 py-1">User</span>
      <img src="../../../assets/ProfilePic.png" />
    </div>
  </mat-toolbar>
</div>
